.underlined {
  position: relative;
}
.underlined::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.x {
  white-space: nowrap;
}
