.App {
  max-width: 1920px;
  padding: 0 15px;
  margin: 0 auto;
}
.switch-method {
  background-color: transparent;
  border: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}
.switch-method.active {
  border-bottom: 1px solid white;
}
/* .button {
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  margin: 20px;
  border: none;
  cursor: pointer;
} */
.big {
  font-size: 20px !important;
  line-height: 24px;
}
h1 {
  font-size: 28px;
  margin: 0 0 20px 0;
  text-align: center;
}
@media (max-width: 500px) {
  h1 {
    font-size: 22px;
  }
  .big {
    font-size: 16px !important;
    line-height: 22px;
  }
}
