.button.active {
  background-color: green;
}
.button {
  height: 50px;
  cursor: pointer;
  background-color: beige;
  font-size: 1.2rem;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
}
.button:hover {
  background-color: rgb(240, 240, 155);
}
.button.active:hover {
  background-color: lightgreen;
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 5px;
}
.method-description {
  margin-bottom: 10px;
  font-size: 20px;
}
.menu {
  max-width: 500px;
  width: 100%;
  padding: 15px;
  border: 1px solid #000000;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 400px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .menu {
    width: calc(100% - 20px);
    min-height: 300px;
  }
  .method-description {
    font-size: 16px;
  }
  .button {
    height: 50px;
    cursor: pointer;
    background-color: beige;
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
  }
}
